# <!--<form action="/users" method="post"  accept-charset="UTF-8">
#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
#   <label for="username">username:</label>
#   <input type="text" id="username" name="user[username]"><br><br>
#   <label for="email">email:</label>
#   <input type="email" id="email" name="user[email]"><br><br>
#   <label for="password">password:</label>
#   <input type="password" id="password" name="user[password]"><br><br>
#   <input type="submit" value="Submit">
# </form>-->

# <!--<%= form_with(url: "/users", method: "post") do %></br></br>
#   <%= label_tag("username")%></br></br>
#   <%= text_field_tag(:username, "Name")%></br></br>
#   <%= label_tag(:email, "Email:")%></br></br>
#   <%= email_field_tag(:email, nil, placeholder: "example@example.com")%></br></br>
#   <%= label_tag(:password, "Password:")%></br></br>
#   <%= password_field_tag(:password)%></br></br>
#   <%= submit_tag("Submit")%>
# <% end %>-->

 <%= form_for @user, url: { action: "update" } do |u| %></br></br>
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %> 
  <%= u.label :username, 'Your username here' %></br></br>
  <%= u.text_field :username, placeholder: 'Your username' %></br></br>
  <%= u.label :email, 'Email' %></br></br>
  <%= u.email_field :email, placeholder: 'example@example.com' %></br></br>
  <%= u.label :password, 'Password' %></br></br>
  <%= u.password_field :password, placeholder: '********' %></br></br>
  <%= u.submit%>
<% end %>